
/* HOME PAGE */

.App {
  display: grid;
  grid-template-columns: 20% auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.NavBar{
  background-color: #26cb88;
  grid-area: 1/1/2/2;
  color: white;
  overflow: hidden;
}

.desc{
  margin-top: 7vh;
  text-align: left;
  font-size: 0.8em;
  line-height: 1.7;
  padding: 0 4.2vw;
}

.title{
  margin-top: 10vh;
  font-size: 2.1vw;
  font-weight: 900;
  text-align: center;
  color: white;
  display: block;
  text-decoration: none;
}

.MainArea{
  background-color: white;
  grid-area: 1/2/2/3;
  text-align: left;
  padding: 20px 100px;
  overflow: scroll;
}

.city-title{
  margin: 50px 0 0px 0;
}
.city-author{
  margin: 0 0 5px 0;
  font-size: 0.8em;
  font-weight: 400;
}

.space{
  width: 100%;
  height: 10vh;
  background-color: transparent;
  display: block;
}

.emojiOcto{
  position: relative;
  font-size:12vw;
  bottom: 10px;
  white-space: nowrap;
}


.city{
  font-size: 1.2em;
  margin: 7px 0 0 10px;
  width: auto;
  cursor: pointer;
  transition-duration: 0.2s;
  color: black;
  display: block;
  user-select: none;
  text-decoration: none;
  animation-name: enter;
  animation-duration: 1s;
}

.city:hover{
  color: #26cb88;
}

.hashtag{
  font-size: 0.8em;
  display: inline-block;
  color: white;
  padding: 5px 10px 5px 10px;
  background-color: #26cb88;
  border-radius: 2px;
  cursor: default;
  z-index: 1;
  margin-top: 10px;
}

.Entry{
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgb(253, 253, 253);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.09);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.09);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.09);
  border-radius: 3px;
  transition-duration: 0.2s;
  display:grid;
  grid-template-columns: 20% auto 5%;
  grid-tempalte-rows: 70% auto;
  grid-row-gap: 5px;
  animation-name: enter;
  animation-duration: 1s;
}

.Entry .name{
  grid-area: 1/1/2/2;
  font-weight: 700;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.Entry .name:hover{
  text-decoration: underline;
  cursor: pointer;
}

.Entry .cuisine{
  grid-area: 1/2/2/3;
  font-size: 0.7em;
}

.Entry .price{
  grid-area: 1/3/2/4;
  font-size: 0.7em;
}

.Entry .desc{
  grid-area: 2/1/2/4;
  text-align: left;
  font-size: 0.7em;
  margin: 0;
  padding: 0;
  color: rgb(56, 56, 56);
}

.Entry .top{
  margin: 0;
}

.Entry .container-bottom-align{
  display: flex;
  align-items: center;
}


.Entry:hover{
  background-color: #26cb88;
  transform: translateY(-2px);
}

.Entry:hover p{
  color: white;
}
.Entry:hover a{
  color: white;
}

.button{
  background-color: #26cb88;
  padding: 5px 15px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 0.7em;
}

.input{
  display: block;
  padding: 5px 15px;

  width: 20vw;
  height: 3vh;
  border-radius: 3px;
  text-decoration: none;
  background-color: white;
  border: solid 3px rgb(200, 200, 200);
  margin: 20px 0 20px 0;
  font-weight: 700;
}

.input:focus{
  text-decoration: none;
  outline: none;
  border: solid 3px rgb(56, 56, 56);
}

@keyframes enter {
  from{
    transform:translateX(-40px);
    opacity: 0;
  }
  to{
    transform:translateX(0px);
    opacity: 1;
  }

}
